<div id="background">
    <div>
        <img src="images/logo.png" alt="Digin logotype"/>
    </div>
    <section>
        <h1>digin 2015</h1>
        <p>Façonnant notre nouveau site.</p>
    </section>
</div>

<div class="container consummers row">
    <h2>En attendant, consultez nos dernières collaborations</h2>
    <div ng-repeat="consummer in consummers" class="col s12 m4">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" ng-src="{{ consummer.media.img }}" alt="{{ consummer.name }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ consummer.name }} <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#" class="activator">En savoir plus</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ consummer.name }} <i class="mdi-navigation-close right"></i></span>
              <p class="type">{{ consummer.type }}</p>
              <p ng-bind-html="consummer.description">{{ consummer.description }}</p>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="container">
        <div class="col-lg-4">
            <ul>
                <li><a href="https://www.facebook.com/digin33?fref=ts" title="Facebook">Facebook</a></li>
                <li><a href="https://twitter.com/agencedigin" title="Twitter">Twitter</a></li>
            </ul>
            <p>Tout droits réservés &copy; Digin 2015</p>
        </div>
        <div class="col-lg-8">
            <ul>
                <li><a href="https://www.google.fr/maps/place/12+Rue+des+Faussets,+33000+Bordeaux/@44.8406701,-0.5692278,17z/data=!4m2!3m1!1s0xd5527d1ce269143:0x555b04d8816b9bed" target="_blank">12 rue des faussets, Bordeaux</a></li>
                <li><a href="mailto:david@digin.fr">bonjour@digin.fr</a></li>
                <li><a href="tel:0984299471">09 84 29 94 71</a></li>
            </ul>
        </div>
    </div>
</footer>
