<div id="background">
    <div>
        <img src="images/logo.png" alt="Digin logotype"/>
    </div>
    <section>
        <h1>digin 2015</h1>
        <p>Façonnant notre nouveau site.</p>
    </section>
    <span class="arrow">
        <i class="mdi-hardware-keyboard-arrow-down"></i>
    </span>
</div>

<div class="container consummers row">
    <h2>En attendant, consultez nos dernières collaborations</h2>
    <div ng-repeat="consummer in consummers" class="col s12 m4">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" ng-src="{{ consummer.media.img }}" alt="{{ consummer.name }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ consummer.name }} <i class="mdi-navigation-more-vert right"></i></span>
              <p><a href="#" class="activator">En savoir plus</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ consummer.name }} <i class="mdi-navigation-close right"></i></span>
              <p class="type">{{ consummer.type }}</p>
              <p ng-bind-html="consummer.description">{{ consummer.description }}</p>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <span>Keep in touch</span>
            <a href="https://www.facebook.com/digin33?fref=ts" target="_blank">Facebook</a>
            <a href="https://twitter.com/agencedigin" target="_blank">Twitter</a>
            <a href="tel:0984299471">09 84 29 94 71</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</footer>
